body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 300px;
}

.form-container h2 {
    margin-bottom: 10px;
}

.form-container label,
.form-container input {
    display: block;
    margin-bottom: 10px;
}

.form-container button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Table Styles */
#class-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#class-table th, #class-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

#class-table th {
    background-color: #000000;
    color: #fff;
}

#class-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#class-table tbody tr:hover {
    background-color: #e0e0e0;
}



