/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #333;
}

/* Form styles */
#student-form {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-student-form label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

#add-student-form input[type="text"],
#add-student-form select,
#add-student-form button {
    width: 20%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#add-student-form button {
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}

#add-student-form button:hover {
    background-color: #000000;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table th{
    background-color: #000000;
    color: white;
}
table, th, td {
    border: 1px solid #ddd;
    text-align: left;
}

th, td {
    padding: 10px;
}

/* Image styles */
img {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
}